# Object files
*.o
*.*~
*~
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Folders
elf_linker-1.0/
examples/

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
Test
arm_simulator
test_API
test_API_read
test_API_write
test_read
test_renumeration
contenu_sections
correction_symboles
test_affichage_sections
test_table_symboles

# Debug files
*.dSYM/
